.dropdown {
    color: #1890ff;
}

.team-name {
    text-align: center;
    color: black;
}

.strike {
    color:#f5222d;
    text-decoration: line-through;
}

.tab-container {
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 1200px){
    .tab-container {
        width: 95%;
        margin: auto;
    }
}