.tooltip {
    border: #1890ff;
    border-width: 1px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    border-style: solid;
}

.graph-title{
    text-align: center;
}

.stats{
    text-align: center;
}

.blue {
    color: #1890ff;
}

.red {
    color: #fa541c;
}